@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
  --primaryMain: #2b2b2b;
  --primaryLight: rgb(85, 85, 85);
  --primaryDark: rgb(30, 30, 30);
  --secondaryMain: #717171;
  --secondaryLight: rgb(141, 141, 141);
  --secondaryDark: rgb(79, 79, 79);
  --textPrimary: rgba(29,29,31,0.85);
  --textSecondary: rgba(162, 162, 170, 0.85);
  --light: rgba(141, 141, 141, 0.20);
  --light: rgb(255, 250, 232);
  --default: #fafafb;
}

body {
  background-color: var(--default);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.error {
  color: rgb(180, 0, 0);
  font-weight: 700;
  text-decoration: underline;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}



.ok {
  color: rgb(36, 179, 0);
  font-weight: 700;
  text-decoration: none;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.active-link {
  font-weight: 700;
}

.card-tab {
  border-radius: 1rem !important;
  margin: 1rem !important;
  padding: 1rem !important;
  box-shadow: 0px 0px 25px -10px var(--primaryLight) !important;
}

.card-header-tab {
}

.card-content-tab {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tab {
  padding: 1rem;
}

.tab:hover {
  box-shadow: 0px 0px 25px -10px var(--secondaryLight) !important;
  border-radius: 1.5rem;
}

.active-tab {  
  border-radius: 1.5rem;
  box-shadow: 0px 0px 25px -10px var(--primaryLight) !important;

}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-space-between {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50vw;
}
.container {
  margin: 0.25rem auto;
  padding: 0.5rem !important;
}

.card-profile {
  border-radius: 0 0 0.5rem 0.5rem !important;
  margin: 0 !important;
  box-shadow: 0px 0px 25px -10px var(--primaryLight) !important;
}

.card {
  border-radius: 0.5rem !important;
  margin: 0.25rem;
  box-shadow: 0px 0px 25px -10px var(--primaryLight) !important;
}

.card-header {
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width: 600px) {
  .map-wrap {
    position: relative;
    width: 100%;
    height: 80vw; /* calculate height of the screen minus the heading */
  }
}

@media screen and (min-width: 600px) {
  .map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px); /* calculate height of the screen minus the heading */
  }
}


.map {
  position: absolute;
  width: 100%;
  height: 100%;
}